.notification {
    color: green;
    font-size: large;
    background-color: antiquewhite;
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-color: green;
}

.error {
    color: red;
    font-size: large;
    background-color: antiquewhite;
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-color: red;

}